---
layout: page
title: 精选文章
---

<ul>
  {% for post in site.posts %}
    {% if post.star %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3><span style="color:dodgerblue;">{{ post.date | date: "%Y-%m-%d" }}</span> {{ post.excerpt | strip_html | strip_newlines | truncate:120 }}
      <br><br>
    </li>
    {% endif %}
  {% endfor %}

</ul>

<h2>全部文章</h2>

<h3><a href="https://oicebot.github.io/tags"> <<<查看全部标签 </a> 
  ◆   <a href="https://oicebot.github.io/titles"> 查看全部文章>>> </a></h3>