---
layout: page
title: 精选文章
---
<div class="info-list"> <ul class="list-a">
  {% for post in site.posts %}
    {% if post.star %}
    <li><div class="only-info">
        <div class="art-img"><a href="{{ post.url }}">
        {% if post.thumb %}
          <img width="100%" src="{{ post.thumb }}" alt="{{post.title}}">
        {% else %}
          <img width="100%" src="{{ site.thumb }}" alt="{{post.title}}">
        {% endif %}
        </a></div>
        </div>
        <div class="rt-tit-box">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="vice"><span style="color:#b5b5b5;">{{ post.date | date: "%Y-%m-%d" }}</span><span>{{ post.excerpt | strip_html | strip_newlines | truncate:150 }}</span></div>
        </div></li>
    {% endif %}
  {% endfor %}
</ul></div>

<h2>全部文章</h2>

<h3><a href="https://oicebot.github.io/tags"> <<<查看全部标签 </a> 
  ◆   <a href="https://oicebot.github.io/titles"> 查看全部文章>>> </a></h3>