---
layout: page
title: 所有文章
---

<div class="info-list"> <ul class="list-a">
  {% for post in site.posts %}
    <li>
      <div class="only-info">
        <div class="art-img"><a href="{{ post.url }}">
            {% if post.thumb %}
              <img width="100%" src="{{ site.cdn }}{{ post.thumb }}" alt="{{post.title}}">
            {% else %}
              <img width="100%" height="120px" src="{{ site.cdn }}{{ site.thumb }}" alt="{{post.title}}">
            {% endif %}
        </a></div>
      </div>
      <div class="rt-tit-box">
          <h3><a href="{{ post.url }}">{{- post.title -}}</a><sup><small>
              {% if post.origin %}
                <span class="origin"> 原创 </span>
              {% endif %}        
              {% if post.star %}
                <span class="star">精选</span>
              {% endif %}</small></sup></h3>
            <div class="vice"><span class="v_date">{{ post.date | date: "%Y-%m-%d" }}</span><span>{{ post.excerpt | strip_html | strip_newlines | truncate:150 }}</span></div>
        </div></li>
  {% endfor %}
</ul></div>
<h2>阅读模式</h2>
<h3><a href="{{ site.url -}}/tags"> <<<查看全部标签 </a> 
  ◆   <a href="{{ site.url -}}/blog"> 查看精选文章>>> </a></h3>
  
<center><b> * * * </b></center>
