---
layout: page
title: 所有文章
---

<ul>
  {% for post in site.posts %}
    <li>
      <h3><a href="{{ post.url }}">{{- post.title -}}</a>      {% if post.star %}
        <sup><span class="star"> 精 </span></sup>
      {% endif %}</h3>
      {{- post.date | date: "%Y-%m-%d" }} - {{ post.excerpt | strip_html | strip_newlines | truncate:100 }}
      <br><br>
    </li>
  {% endfor %}
</ul>
<h2>阅读模式</h2>
<p>你还可以： <a href="https://oicebot.github.io/tags">按标签分类浏览全部文章</a></p>
  
<center><b> * * * </b></center>
