<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-CN" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#151515" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ site.url -}}/script/jquery.min.js"></script>
        <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {% seo %}
  </head>
  <body>
    {{ content }}

    {% include footer.md %}
  </body>
</html>