<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-CN" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/lanyon.css">


{% seo %}
  </head>

  <body class="layout-reverse">

    {% include sidebar.html %}

    <div class="masthead">
      <div class="container">
        <label for="sidebar-checkbox" class="sidebar-toggle"></label>
        <header>
          <div class="container">
            <h1><a style="color:#b5e853" href="https://oicebot.github.io/">{{ site.title | default: site.github.repository_name }}</a></h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </div>
      </header>
      </div>

      <div class="container content">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
  
      {% include footer.md %}

    </div>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    </div>

  </body>
</html>
