---
layout: default
---

<p><small>发表日期：{{ page.date | date: "%Y-%m-%d" }}
{% if page.star %}
<span class="star"> 精选文章 </span>
{% endif %}
</small>
</p>
<h1>{{ page.title }}</h1>

<p class="view" style="color:b5e853;">作者：{{ page.author | default: site.author }}</p>

<hr>

{{content}}

{% if page.from %}
<p style="color:#b5e853"><small>编译来源： {{ page.from }}</small></p>
{% endif %}
{% if page.tags %}
<p style="color:#8c8c8c"><small>标签：<em>{{ page.tags | join: "</em>、<em>" }}</em></small></p>
{% endif %}
